In [1]:
name = input("Please enter the name: ")
print(name)
n = f"hello {name}"
print(n)

Please enter the name: j
j
hello j

In [7]:
print(2+3*(2*3))

20

In [8]:
print(4**2)

16

In [9]:
print(5%2)

1

In [12]:
print(5//2)

2

In [11]:
name = "Michael Jackson"
name1 = 3
name2 = 3.14
name = 6

In [27]:
first_name = "Michael"
#last_name = "Jackson"
last_name = 5
#full_name = first_name +" "+ last_name
full_name = f"My name is {first_name} {last_name}"
print(full_name)

My name is Michael 5

In [28]:
x = 100
z = 2

t = f"I have {x} dogs"
m = f"My {z} dogs are crazy"

print(t)
print(m)

I have 100 dogs
My 2 dogs are crazy

In [2]:
number = 12.2345667
num = int(number)
print(type(number))
print(type(num))

<class 'float'>
<class 'int'>

In [3]:
num = int(number)
print(type(num))

<class 'int'>

In [ ]:
name = input("Please enter your name: ")
print(name)